div{
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 2px solid black;

    
}
body{
    text-align: center;
}
#container{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
}
#box1{
    background-color: aqua;
}
#box2{
    background-color: blue;
}
#box3{
    background-color: chartreuse;
}
#box4{
    background-color: crimson;
}
#box5{
    background-color: lawngreen;
}